NEXT_PUBLIC_SITE_URL=https://missile-command-two.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_j11ppb61
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x29336616Bd479b536A50D6175043F47579292EA0
